@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a href="c:\users\khmah\source\repos\thetaecommerce\thetaecommerce\models\theta_ecommercecontext.cs">c:\users\khmah\source\repos\thetaecommerce\thetaecommerce\models\theta_ecommercecontext.cs</a>